@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Consolas";
  src: url("./assets/fonts/Consolas-regular.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Consolas";
  src: url("./assets/fonts/Consolas-bold.TTF") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Consolas";
  src: url("./assets/fonts/Consolas-italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Consolas";
  src: url("./assets/fonts/Consolas-boldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Windows";
  src: url("./assets/fonts/Windows.ttf") format("truetype");
}

@font-face {
  font-family: "FS-gravity";
  src: url("./assets/fonts/fs-gravity.ttf");
}

.cursor-hand {
  cursor: url('./assets/img/main.png'), auto;
}

.cursor-hand:hover {
  transform: scale(1.35);
}

html, body{
  height: 100%;
  margin: 0;
}

.min-h-screen {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: #cae1fc50;
  border: none;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #8126E1, #013479);
  border-radius: 10px;
  transition: background 0.3s ease, transform 0.1s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #5B67ED, #8126E1);
  transform: scale(1.1); 
}

::-webkit-scrollbar-thumb:active {
  background: linear-gradient(135deg, #5B67ED, #8126E1);
}

::-webkit-scrollbar-button:single-button {
  height: 20px;
  background-color: #5B67ED;
  border-radius: 10px;
  border: none;
}

::-webkit-scrollbar-button:hover {
  background: linear-gradient(135deg, #5B67ED, #8126E1);
}

.bg-light-purple:hover, .bg-blue:hover, .bg-dark-blue:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}